@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=IBM+Plex+Serif:wght@200&family=Noto+Sans+Nabataean&family=Oswald:wght@300&family=Playfair+Display&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=IBM+Plex+Serif:wght@200&family=Noto+Sans+Nabataean&family=Oswald:wght@200;300&family=Playfair+Display&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

:root {
  --main-font-color: #564635;
  --background-colour: white;
  --text-font:'IBM Plex Serif', serif;
  --headers-font: 'Oswald', sans-serif;
  --brush-font: 'Comforter Brush', cursive;
  /* Remove  */
}

body {
  background-color: var(--background-colour)
}

/* Landing page */
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page h1 {
  color: var(--main-font-color);
  font-family: var(--headers-font);
}

.landing-page span {
  font-family: var(--brush-font);
}

.landing-page h3 {
  color: var(--main-font-color);
  font-family: var(--text-font);
}

.landing-page img {
  height: 420px;
  width: 400px;
}

.landing-page button {
  margin-top: 30px;
  color: var(--main-font-color);
  border-radius: 7%;
  padding: 10px;
  width: 100px;
  border: none;
  cursor: pointer;
}

/* NavBar */
.navbar {
  height: 100%;
  width: 225px;
  position: fixed;
  left: -260px;

  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); 
  padding: 20px;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */

  transition: left 0.3s;
}

.navbar.open {
  left: 0;
}

.navbar-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar-child img {
  width: 150px;
  height: 150px;
  margin-bottom: 40px;
  align-self: center;
}

.navbar-child a {
  text-decoration: none;
  font-family: var(--text-font);
  color: var(--main-font-color);
  margin: 10px;
  font-size: 25px;

  transition: right 4s;
}

.navbar-child a:nth-child(7) {
  margin-top: 50px;
}

.navbar-child a:nth-child(7):hover {
  color: rgba(255, 255, 255, 1);
  opacity: 0.4;
}

.navbar-child a:hover {
  text-decoration: underline;
  text-shadow: #564635;
  color: var(--background-colour)
}

.navbar-toggler {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;

  transition: left 0.3s;
}
