@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=IBM+Plex+Serif:wght@200&family=Noto+Sans+Nabataean&family=Oswald:wght@300&family=Playfair+Display&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=IBM+Plex+Serif:wght@200&family=Noto+Sans+Nabataean&family=Oswald:wght@200;300&family=Playfair+Display&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-font-color: #564635;
  --background-colour: white;
  --text-font:'IBM Plex Serif', serif;
  --headers-font: 'Oswald', sans-serif;
  --brush-font: 'Comforter Brush', cursive;
}

/* Landing page */
/* ===================================================== */

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page .title {
  color: var(--main-font-color);
  font-family: var(--brush-font);
  font-size: 63px;
  margin-top: 40px;

  background: linear-gradient(to right, rgb(86, 70, 53), rgb(166, 145, 123));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  pointer-events: none;
}

.landing-page .statement {
  color: var(--main-font-color);
  font-family: var(--text-font);
  margin-top: 20px;
  font-size: 25px;
  text-align: center;

  pointer-events: none;
}

.landing-page img {
  height: 410px;
  width: 390px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.landing-page a {
  margin-top: 10px;
  font-size: 22px;
  color: var(--main-font-color);
  font-family: var(--text-font);
  cursor: pointer;

  opacity: 0;
  animation: fade 3s ease-in forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.landing-page span {
  margin-left: 2px;
  margin-right: 2px;
}

@media (max-width: 460px) {
  .landing-page img {
    height: 310px;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .landing-page .title {
    margin-top: 50px;
  }

  .landing-page .statement {
    font-size: 23px;
  }
}

@media (max-height: 600px) {
  .landing-page .title {
    margin-top: 25px;
  }

  .landing-page .statement {
    margin-top: 10px;
  }

  .landing-page a {
    margin-top: 5px;
  }
}

/* Home Page */
/* ===================================================== */

.homepage-title-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home-page-title-img {
  height: 250px;
  width: 600px;
  margin-right: 10px;
  margin-top: 25px;
}

/* Slider component */
.slider {
  width: 100%;
  height: 26.5rem;
  background: white;
  display: flex;
  overflow-x: scroll;
  position: fixed;
  bottom: 0;
  z-index: -1;
  scroll-snap-type: x proximity;
  user-select: none;
}

.slider div {
  min-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.blur-layer {
  background-size: cover;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 950px) {
  .home-page-title-img {
    height: 220px;
    width: 500px;
    margin-top: 40px;
  }
}

@media (max-width: 620px) {

  .homepage-title-wrapper {
    justify-content: center;
    margin-left: 40px;
    margin-top: 10px;
  }

  .home-page-title-img {
    height: 185px;
    width: 390px;
    right: 50px;
    top: 25px;
  }
}

@media (max-width: 450px) {
  .home-page-title-img {
    height: 165px;
    width: 320px;
    margin-top: 50px;
  }

  .slider {
    height: 27rem;
  }
}

@media (max-height: 630px) {
  .slider {
    height: 25rem;
  }
}

@media (max-height: 570px) {
  .slider {
    display: none;
  }

  .home-page-title-img {
    margin-top: 140px;
  }
}

/* NavBar Component */
.navbar {
  height: 100%;
  width: 190px;
  position: fixed;
  left: -260px;
  z-index: 2;

  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); 
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(166, 145, 123, 0.2);

  transition: left 0.5s;
  user-select: none;
}

.navbar.open {
  left: 0;
}

.navbar-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar-child img {
  width: 165px;
  height: 165px;
  margin-top: 30px;
  margin-bottom: 30px;
  align-self: center;
}

.navbar-child a {
  text-decoration: none;
  font-family: var(--text-font);
  color: var(--main-font-color);
  margin: 7px;
  margin-right: 1px;
  font-size: 26px;

  transition: right 4s;
}

.navbar-child a.active {
  text-decoration: underline;
  font-size: 27px;
  font-weight: bolder;
}

.navbar-child a:nth-child(7) {
  margin-top: 65px;
}

.navbar-child a:nth-child(7):hover {
  margin-top: 65px;
  color: #947E68;
}

.navbar-child a:hover {
  text-decoration: underline;
  text-shadow: #564635;
  font-weight: bolder;
}

.navbar-toggler {
  position: fixed;
  top: 50px;
  font-size: 29px;
  background: transparent;
  border: none;
  cursor: pointer;
  left: 12px;
  color: var(--main-font-color);
  transition: 0.5s;
}

.navbar.open .navbar-toggler {
  left: 240px;
}

@media (max-width: 760px) {

  .navbar {
    width: 170px;
    padding: 10px;
  }

  .navbar-child img {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .navbar-child a {
    font-size: 23px;
  }

  .navbar.open .navbar-toggler {
    left: 200px !important;
    top: 30px !important;
  }

  .navbar-child a.active {
    font-size: 24px;
  }
}

@media (max-width: 440px) { 
  .navbar {
    width: 120px;
    padding: 10px;
  }

  .navbar-child img {
    width: 110px;
    height: 110px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .navbar-child a {
    font-size: 18px;
    margin: 4px;
    margin-right: 0px;
    text-shadow: #564635;
    font-weight: bolder;
    text-decoration: underline;
  }

  .navbar.open .navbar-toggler {
    left: 145px !important;
    top: 15px !important;
  }

  .navbar .navbar-toggler {
    top: 55px !important;
  }

  .navbar-child a.active {
    font-size: 20px;
    color: #947E68;
  }
}

@media (max-height: 570px) {
  .navbar-child img {
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .navbar-child a:nth-child(7) {
    margin-top: 7px;
  }
}

/* Artwork Nav Bar for all pages */
/* ===================================================== */
/* Artwork nav component */
.artwork-nav-container {
  height: 170px;
  width: 100%;
  position: absolute;
  top: 0px;
  user-select: none;
  z-index: 1;
}

.navbar-blur-layer {
  background-size: cover;
  background-position: center;
  height: 170px;
  width: 100vw;
}

.artwork-nav-container img {
  height: 170px;
  width: 100%;
  position: absolute;
  top: 0px;
  object-fit: cover;
}

.navbar-title {
  color: white;
  font-family: var(--text-font);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.artwork-nav-container a {
  color: white;
  font-family: var(--text-font);
  position: absolute;
  top: 73px;
  right: 50px;
  font-size: 18px;
}

@media (max-width: 440px) {
  .artwork-nav-container a {
    right: 20px;
    font-size: 16px;
    top: 65px
  }

  .nav-content {
    position: absolute;
    top: 52px;
  }

  .artwork-nav-container {
    height: 150px;
  }

  .navbar-blur-layer {
    height: 150px;
  }
  
  .artwork-nav-container img {
    height: 150px;
  }
}

/* Photographs page */
/* ===================================================== */
/* photographs page content */
.photographs-content-container {
  display: flex;
  justify-content: center;
}

.street, .misc, .landscapes {
  margin-top: 185px;
  height: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.street {
  margin-left: 10px;
}

.landscapes {
  margin-left: 10px;
  margin-right: 10px;
}

.misc {
  margin-right: 10px;
}

.street h1, .landscapes h1, .misc h1 {
  font-family: var(--text-font);
  color: var(--main-font-color);
  margin-bottom: 4px;
  text-decoration: underline;
}

.img-container-one, .img-container-two, .img-container-three {
  background-color: #E3E0DC;
  height: 470px;
  width: 96%;
  margin-bottom: 5px;
  overflow: hidden;
  cursor: pointer;
}

.img-container-one img, .img-container-two img, .img-container-three img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .5s;
}

.img-container-one img:hover, .img-container-two img:hover, .img-container-three img:hover {
  opacity: 0.6;
  filter: blur(1px);
  scale: 120%;
}

@media screen and (max-width: 620px) {
  .photographs-content-container {
    flex-direction: column;
  }

  .street {
    height: 600px;
    margin-left: 0px;
  }

  .misc {
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .landscapes, .misc {
    height: 600px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .img-container-one, .img-container-two, .img-container-three {
    height: 600px;
    width: 400px;
    margin-top: 0;
  }
}

@media (max-width: 440px) {

  .img-container-one, .img-container-two, .img-container-three {
    height: 500px;
    width: 325px;
  }

  .street {
    margin-top: 160px;
    height: 520px;
  }

  .landscapes, .misc {
    margin-top: 10px;
    height: 520px;
  }

  .img-container-one img:hover, .img-container-two img:hover, .img-container-three img:hover {
    opacity: 1;
    filter: none;
    scale: none;
  }
}

/* Img Gallery */
/* ===================================================== */

.slider-comp-container {
  width: 480px;
  height: 620px;
  margin: 0 auto;
}

/* ImgGallery component */
.slider-container {
  height: 100%;
  position: relative;
  user-select: none;
}

.slide-container {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  font-size: 60px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  opacity: 0.9;
  mix-blend-mode: difference;
}

.left-arrow {
  transform: translate(0, -60%);
  left: -50px;
}

.right-arrow {
  transform: translate(0, -60%);
  right: -50px;
}

.squares-container {
  display: flex;
  justify-content: center;
}

.squares {
  margin: 2px;
  cursor: pointer;
  font-size: 26px;
  color: var(--background-colour);
  opacity: 0.8;
}

.selected-square {
  color: var(--main-font-color);
  opacity: 1;
}

/* Small screens */
@media (max-width: 640px) {
  .slider-comp-container {
    width: 440px;
    height: 610px;
    margin: 0 auto;
  }

  .left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
    opacity: 0.9;
    mix-blend-mode: difference;
  }
  
  .left-arrow {
    transform: translate(0, -50%);
    left: 10px;
  }
  
  .right-arrow {
    transform: translate(0, -50%);
    right: 10px;
  }
}

/* XS screens: */
@media (max-width: 500px) {
  .slider-comp-container {
    width: 390px;
    height: 580px;
    margin: 0 auto;
  }
}

/* XXS screens: */
@media (max-width: 440px) {
  .slider-comp-container {
    width: 325px;
    height: 520px;
    margin: 0 auto;
  }
}

/* Item Pages (drawings, prints, other projects pages) */
/* ===================================================== */ 

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  top: 180px;
  padding-bottom: 40px;
  z-index: 0;
}

.template-container {
  width: 320px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin: 3px;
}

.item-img-div {
  width: 90%;
  height: 500px;
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  z-index: 2;
  cursor: pointer;
}

.item-img-div:hover {
  opacity: 0.6;
}

.template-container h1, p {
  align-self: flex-start;
  margin-left: 18px;
}


.template-container h1 {
  font-family: var(--headers-font);
  color: var(--main-font-color);
}

.template-container p {
  font-family: var(--text-font);
  color: var(--main-font-color);
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 5px;
  font-style: italic;
} 

.selected-item-wrapper {
  height: 620px;
  width: 500px;
}

.selected-item-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

@media (max-width: 970px) {
  .template-container {
    width: 380px;
    height: 520px;
  }
}

@media (max-width: 550px) {
  .selected-item-wrapper {
    height: 550px;
    width: 380px;
  }
}

@media (max-width: 440px) {
  .selected-item-wrapper {
    height: 480px;
    width: 340px;
  }

  .items-container {
    top: 150px
  }
}

/* Modal Component */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 4;
}

.modal-content-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.modal-close-button {
  z-index: 6;
  font-size: 50px;
  cursor: pointer;
  position: fixed;
  top: 1%;
  right: 2.5%;
  color: var(--background-colour);
  border-radius: 20px;
  border: none;
  opacity: 0.9;
}

@media (max-width: 640px) {
  .modal-close-button {
    font-size: 38px;
    top: 0.3%;
  }
}

/* Store page */
/* ===================================================== */

.store-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.store-content-container img {
  margin-top: 200px;
  height: 370px;
  width: 350px;
}

.store-content-container h2 {
  margin-top: 30px;
  font-family: var(--text-font);
  color: var(--main-font-color);
  align-items: center;
  text-align: center;
}

.store-content-container :nth-child(3) {
  margin-top: 0px;
}

/* Contact Page */
/* ===================================================== */

.contact-page-container {
  display: flex;
}

/* Container for side img */
.contact-sidebar-container {
  height: 100%;
  width: 500px;
  margin-right: 10px;
  user-select: none;
}

.con-blur-layer {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.sidebar-img-main {
  position: absolute;
  height: 100%;
  width: 500px;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.white-layer {
  background-color: white;
  height: 100px;
  width: 500px;
  position: absolute;
  top: 160px;
  left: 0px;
  opacity: 0.75;
}

.sidebar-img-sig {
  height: 110px;
  width: 190px;
  position: absolute;
  top: 155px;
  left: 160px;
}

.contact-nav-bar {
  display: none;
}

.contact-nav-img {
  display: none;
  opacity: 0;
}

/* Container for title, para, form component and return home btn */
.contact-elements-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 400px;
  margin-right: 20px;
  margin-left: 80px;
  user-select: none;
}

/* contact-elements */

.home-anchor {
  display: none;
}

.contact-header {
  font-size: 70px;
  font-family: var(--headers-font);
  color: var(--main-font-color);
  pointer-events: none;
  align-self: center;
  margin-top: 5px;
}

.contact-text {
  font-family: var(--text-font);
  color: var(--main-font-color);
  margin-top: 5px;
  font-size: 18px;
  text-align: center;
}

.contact-text a {
  color: var(--main-font-color);
  font-weight: bolder;
}

.contact-text a:visited {
  color: var(--main-font-color);
}

.home-btn {
  width: 100px;
  height: 40px;
  background-color: var(--main-font-color);
  color: white;
  border-radius: 7.5px;
  cursor: pointer;
  border: none;
  align-self: center;
  font-family: var(--text-font);
  font-size: 17px;
}

.home-btn:hover {
  background-color: #362D24;
}

/* Form component */
.contact-form form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  gap: 7px;
  font-family: var(--text-font);
}

.contact-form label {
  font-size: 20px;
  font-weight: bolder;
  color: var(--main-font-color);
  align-self: flex-start;
}

.contact-form input {
  border-radius: 2%;
  caret-color: var(--main-font-color);
  font-family: var(--text-font);
  font-size: 15px;
  height: 30px;
  width: 400px;
  border-style: solid;
}

.contact-form textarea {
  border-radius: 2%;
  caret-color: var(--main-font-color);
  font-size: 15px;
  height: 120px;
  width: 400px;
  resize: none;
  font-family: var(--text-font);
}

.contact-form :focus {
  outline: 1px solid var(--main-font-color);
}

.error {
  color: #BD1010;
  font-weight: bold;
  text-align: center;
}

.contact-submit-btn {
  width: 100px;
  height: 40px;
  background-color: var(--main-font-color);
  color: white;
  align-self: center;
  border-radius: 7.55px;
  cursor: pointer;
  border: none;
  margin-top: 5px;
  font-family: var(--text-font);
  font-size: 17px;
}

.contact-submit-btn:hover {
  background-color: #362D24;
}

@media (max-width: 950px) {
  .contact-elements-container {
    margin-left: 40px;
  }

  .contact-sidebar-container {
    width: 400px;
  }
  
  .sidebar-img-main {
    width: 400px;
  }
  
  .white-layer {
    width: 400px;
  }
  
  .sidebar-img-sig { 
    left: 120px;
  }

  .contact-toast {
    position: absolute;
    top: 0px;
    left: 130px;
    width: 200px;
  }
}

@media (max-width: 823px) {
  .contact-elements-container {
    margin-left: 20px;
  }

  .contact-sidebar-container {
    width: 300px;
  }
  
  .sidebar-img-main {
    width: 300px;
  }
  
  .white-layer {
    width: 300px;
  }
  
  .sidebar-img-sig { 
    left: 60px;
  }

  .contact-toast {
    position: absolute;
    top: -3px;
    left: 165px;
    width: 160px;
  }
}

@media (max-width: 723px) {
  .contact-elements-container {
    margin-top: 80px;
  }

  .contact-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .con-blur-layer {
    display: none;
    height: 0px;
    width: 0px;
  }
  
  .contact-nav-img {
    width: 100vw;
    height: 130px;
    position: absolute;
    top: 0px;
    object-fit: cover;
    opacity: 1;
  }

  .contact-sidebar-container {
    height: 130px;
    width: 100vw;
    background-image: url('/con-page-rotated-blur.jpg');
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0px;
    right: -10px;
  }
  
  .sidebar-img-main {
    display: none;
  }
  
  .white-layer {
    background-color: white;
    height: 130px;
    width: 120px;
    position: absolute;
    top: 0px;
    left: 70px;
    opacity: 0.75;
    z-index: 5;
  }
  
  .sidebar-img-sig { 
    height: 70px;
    width: 110px;
    position: absolute;
    top: 30px;
    left: 78px;
    z-index: 6;
  }

  .home-btn {
    display: none;
  }

  .home-anchor {
    display: block;
    position: absolute;
    top: 57px;
    right: 70px;
    color: white;
    font-family: var(--text-font);
  }

  .contact-header {
    font-size: 68px;
    margin-top: 45px;
  }

  .contact-text {
    margin-top: 0px;
  }

  .contact-form form {
    margin-top: 2px;
    gap: 1px;
  }

  .contact-form label {
    font-size: 18px;
  }

  .contact-submit-btn {
    width: 90px;
    height: 37px;
  }

  .contact-toast {
    transform: scale(0.7);
    position: absolute;
    top: 80px;
    left: 165px;
    width: 160px;
  }
}

@media (max-width: 550px) {
  .home-anchor {
    right: 50px;
  }

  .white-layer {
    left: 35px;
  }

  .sidebar-img-sig {
    left: 40px;
  }

  .contact-header {
    font-size: 60px;
  }

  .contact-elements-container {
    margin-top: 80px;
    width: 350px;
  }

  .contact-form input {
    width: 350px;
  }

  .contact-form textarea {
    width: 350px;
  }

  .contact-toast {
    transform: scale(0.7);
    position: absolute;
    top: 90px;
    left: 230px;
    width: 160px;
  }
}

@media (max-width: 723px) and (max-height: 680px) {

  .contact-sidebar-container {
    height: 110px;
  }

  .white-layer {
    height: 110px;
  }

  .contact-nav-img {
    height: 110px;
  }

  .sidebar-img-sig { 
    top: 20px
  }

  .home-anchor {
    top: 45px
  }

  .contact-header {
    font-size: 50px;
    margin-top: 30px;
  }

  .contact-text {
    font-size: 15px;
    margin-bottom: 4px;
  }

  .contact-form p {
    font-size: 15px;
  }
}

/* Toast styling */
.contact-toast {
  background: var(--main-font-color);
  color: white;
}

.contact-toast .Toastify__close-button {
  color: white;
}

.contact-toast-progress {
  background: #C5B6A7;
}

/* Not found(404) page */
/* ===================================================== */

.not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.four-logo {
  margin-top: 20px;
  margin-left: 70px;
  height: 350px;
  width: 350px;
}

.not-found-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 50px;
}

.not-found-content-container h1 {
  font-family: var(--headers-font);
  color: var(--main-font-color);
  font-size: 120px;
  align-self: flex-start;
  margin-top: 40px;
}

.not-found-content-container p {
  font-family: var(--text-font);
  color: var(--main-font-color);
  font-size: 28px;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.not-found-container a:visited {
  color: var(--main-font-color);
}

.four-signature {
  height: 180px;
  width: 350px;
  align-self: flex-start;
  margin-top: 15px;
}

@media (max-width: 955px) {
  .four-signature {
    height: 150px;
    width: 320px;
  }

  .four-logo {
    height: 320px;
    width: 320px;
  }

  .not-found-container h1 {
    margin-top: 20px;
  }
}

@media (max-width: 890px) {
  .four-signature {
    height: 150px;
    width: 300px;
  }

  .four-logo {
    height: 320px;
    width: 320px;
  }

  .not-found-content-container {
    margin-left: 80px;
  }

  .not-found-container p {
    font-size: 25px;
  }

  .not-found-container h1 {
    margin-top: 20px;
  }
}

@media (max-width: 740px) {
  .four-signature {
    height: 100px;
    width: 200px;
  }

  .four-logo {
    display: none;
  }

  .not-found-content-container {
    margin-left: 30px;
  }

  .not-found-container p {
    font-size: 20px;
  }

  .not-found-container h1 {
    font-size: 110px;
    margin-top: 20px;
  }
}
